<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1841.travel.api.mapper.AttractionsInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft1841.travel.api.domain.entity.AttractionsInfo">
        <id column="id" property="id" />
        <result column="poi_id" property="poiId" />
        <result column="poi_name" property="poiName" />
        <result column="poi_summary" property="poiSummary" />
        <result column="poi_address" property="poiAddress" />
        <result column="poi_time" property="poiTime" />
        <result column="poi_traffic" property="poiTraffic" />
        <result column="poi_ticket" property="poiTicket" />
        <result column="poi_open_time" property="poiOpenTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, poi_id, poi_name, poi_summary, poi_address, poi_time, poi_traffic, poi_ticket, poi_open_time
    </sql>

</mapper>
