<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1841.travel.api.mapper.TravelNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TravelNodeMap" type="com.soft1841.travel.api.domain.vo.TravelNodeVo">
        <id column="id" property="id" />
        <result column="notes_title" property="notesTitle" />
        <result column="notes_cover" property="notesCover" />
        <result column="user_id" property="userId" />
        <result column="notes_time" property="notesTime" />
        <result column="notes_view" property="notesView" />
        <result column="notes_like" property="notesLike" />
        <result column="content" property="content" />
        <result column="image" property="image" />
        <result column="user_name" property="user_name" javaType="java.lang.String"/>
        <result column="avatar" property="avatar" javaType="java.lang.String"/>
    </resultMap>

    <!--两表联查，查出游记的详细信息发表游记的用户头像昵称-->
    <select id="getTravelNodeById" resultMap="TravelNodeMap">
	    SELECT t1.*,t2.user_name as user_name,avatar as avatar
            FROM travel_node t1
	            LEFT JOIN sys_user t2 ON t1.user_id = t2.id
            WHERE
	            t1.id = #{id}
    </select>

</mapper>
